* {
  margin: 0;
  padding: 0;
}

input,
textarea,
select:focus {
  outline: none;
  background-color: none;
}
ul li {
  list-style: none;
}
body {
  font-family: inter;
  background-color: #f9f9f9;
  color: #000000;
  font-size: 16px;
}
img {
  cursor: pointer;
}

.a {
  text-decoration: none;
  color: #000000;
}
button {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  margin-bottom: -6rem;
  background-color: #f9f9f9;
  height: 6rem;
  justify-content: center;
  max-width: 100% !important;
  z-index: 1000;
  top: 0;
  box-shadow: 0 0 4px 0 hsla(0, 0%, 19%, 0.445);
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 8rem;
}

nav li {
  font-size: 0.9em;
  margin: 0 1rem;
  font-weight: 600;
}

.language-button button {
  width: 14rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 16px;
  font-size: 0.8em;
  font-weight: 600;
}

.reserve-button button {
  width: 10rem;
  height: 3rem;
  background-color: black;
  border-radius: 16px;
  font-size: 0.8em;
  color: white;
  font-weight: 600;
  border: none !important;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}

@keyframes changeBackground {
  0% {
    background-image: url("../../public/images/background-hero1.jpg");
  }
  25% {
    background-image: url("../../public/images/background-hero2.jpg");
  }
  50% {
    background-image: url("../../public/images/background-hero3.jpg");
  }
  75% {
    background-image: url("../../public/images/background-hero4.jpg");
  }
  100% {
    background-image: url("../../public/images/background-hero1.jpg");
  }
}

.hero-section {
  filter: brightness(0.7) contrast(1.4);
  animation: changeBackground 25s infinite;
  transition: background 1s ease-in-out;
  height: 100vh !important;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  /* margin-top: -100px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
}
.hero-section > h1 {
  font-size: 1.85rem;
  font-weight: 400;
  margin-bottom: 4.25rem;
  filter: brightness(1) contrast(1) !important;
}
.hero-section p {
  font-family: Poly;
  font-size: 2.75rem;
  width: 60% !important;
  width: 62.5rem;
}

.slider-container {
  padding: 4rem 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem !important;
  flex-direction: row;
}

.apartments-section-container {
  height: fit-content;
  max-width: 100% !important;
  overflow: hidden;
}
.apartments-section-container h1 {
  text-align: center;
  margin-top: 4rem;
  font-family: Poly;
}

.apartment-display {
  width: 95%;
  height: 70vh;
  overflow: hidden;
  position: relative;
}
.ap-image-container {
  height: 35vh;

  z-index: 1 !important;
}
.apartment-image {
  height: 100%;

  width: 100% !important;
  scale: 1/2;
}
.apartment-details {
  height: 18rem;

  background-color: hsla(0, 5%, 78%, 0.151);
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.apartment-details h2 {
  font-size: 15px;
}

.apartment-details p {
  text-align: justify;
  font-size: 14px;
}
.apartment-details button {
  background: none;
  border: 1px solid #aeaea4;
  color: #61615f86;
  border-radius: 2px;
  font-weight: 600;

  padding: 0.4rem;
}

.apartment-size {
  background-color: hsla(0, 0%, 0%, 0.644);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;

  top: 10.1rem;
  flex-direction: row;
  z-index: 2;
}

.apartment-size p {
  padding: 2rem;
  color: white;
}

.amenities {
  display: flex;
  height: 100vh;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
  background-color: hsla(0, 0%, 69%, 0.082);
}
.amenities-image-container {
  flex: 1;
  width: 50%;
}
.amenities-image {
}

.amenities .description {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.amenities .description h1 {
  font-family: poly;
  font-weight: 500;
  font-size: 2.45rem;
}

.amenities .description ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.amenities .description ul li {
  display: flex;
  align-items: center;
}
.footer-container {
  height: 5rem;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

.footer-container ul {
  display: flex;
  gap: 2rem;
}

.apartments-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 6rem 8rem;
}
.image-main-container {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-first-container {
  flex: 1;
}

.image-main-container .image-sub-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}
.image-first-container .image-box {
  height: 28.2rem;
  width: 33.7rem;
}
.image-box {
  overflow: hidden;
}

.image-sub-container {
  width: 50% !important;
  max-height: 29rem;
  gap: 0.4rem;
}
.image-sub-container .image-box {
  height: 13.95rem;
  width: 16.5rem;
}

/* .image-sub-container .image-box .image {
  width: 250px !important;
  height: 193px !important;
} */
.apartment-description-container {
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;
  height: 100vh;
}

.apartment-description-container .description {
  display: grid;
  gap: 1rem;
}

.apartment-description-container .description p {
  line-height: 1.4em;
}
.apartment-amenities {
  display: grid;
  gap: 1rem;
}

.apartment-amenities ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  line-height: 3em;
}

.price {
  line-height: 2rem;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.calendar-section-container {
  display: flex;
  box-sizing: border-box;
  padding: 4rem 8rem;
  justify-content: space-between;
  height: 100vh;
}

.reserve-info-container {
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
  width: fit-content;
  height: fit-content;
  background-color: #aeaea431;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reserve-info {
  display: grid;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reserva-factura {
  display: grid;
  gap: 1rem;
}

.calendar-section-container .react-datepicker {
  border-radius: 8px;
  border: none;
  padding: 2rem 2rem;
}

.react-datepicker__month-container {
}

.react-datepicker__day {
  color: #333;
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--disabled {
  color: #ccc;
  pointer-events: none;
}

.guests-container {
  display: flex;
  justify-content: space-evenly;
}

.guest-box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.guests-number {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.guests-number p {
  max-width: 0.4rem;
}
.guests-number button {
  border: 1px solid #aeaea4a1;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.process-payment {
  width: fit-content;
  padding: 1rem 4.3rem;
  margin-top: 1rem;
  background-color: #000000a4;
  border-radius: 8px;
  font-size: 0.8em;
  color: white;
  font-weight: 600;
  border: none !important;
}

.full-image-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2000;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
  cursor: default;
}

body.full-image-overlay-active {
  overflow: hidden;
}

.close-button {
  position: fixed;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.685);
  top: 2rem;
  right: 2rem;
}

.check-out-container {
  padding: 2rem 6rem;
  display: grid;
  gap: 1rem;
}
.back-btn {
  color: #000000;
}
.check-out-boxes-container {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.client-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  padding: 2rem 2rem;
  background-color: #aeaea425;
  border-radius: 4px;
  border: 1px solid #aeaea44b;
}
.client-box form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}

.client-detail {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.client-detail input {
  border: none;
  border-bottom: 1px solid #aeaea4;
  background: none;
  padding: 0 0 1rem 0;
}
.client-detail textarea {
  width: 210%;
  border: none;
  border-bottom: 1px solid #aeaea4;
  background: none;
  padding: 0 0 1rem 0;
  resize: none;
}

.process-container {
  width: 30%;
  display: grid;
  gap: 6rem;
}
.process-container button {
  width: 100%;
  height: 2.5rem;
  background-color: black;
  border-radius: 8px;
  font-size: 0.8em;
  color: white;
  font-weight: 600;
  border: none !important;
}

.check-out-boxes-container .reserve-info-container {
  width: 100%;
  padding: 2.5rem 2rem;
  border: 1px solid #aeaea44b;
  box-shadow: none;
  display: grid;
  gap: 2.5rem;
}
